@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: rgb(29, 28, 28);
    color: white;
}

section{
    min-height: 100%;
    width: 100%;
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    background-color:rgb(39, 45, 53);
    border-radius: 8px;
    padding: 3rem;
    display: flex;
    flex-direction: column;
}

.container p{
    font-size: 2rem;
    font-weight: 300;
    line-height: 3rem;
    text-align: justify;
}
button{
    margin-top: 4rem;
    width: fit-content;
    padding: 2rem;
    font-size: 2rem;
    background-color:rgb(29, 29, 29) ;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    align-self: flex-end;
}